<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FortEZEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FortEZEdit.Properties.Settings>
            <setting name="FnKey_Edit" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="Key_DnREdit" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="Delay_DnRClickStart" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Delay_DnrClickRelease" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Key_Reset" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="Delay_ResetPreClick" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Delay_ResetPostClick" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Key_Pause" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="id_Mouse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Key_EditRampPlaceModifier" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="FnKey_Ramp" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="Delay_ReleaseEditRampPlaceDelay" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="FnKey_Shotgun" serializeAs="String">
                <value>Two</value>
            </setting>
            <setting name="Check_EditToConfirm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FnKey_Wall" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="FnKey_Floor" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="FnKey_Cone" serializeAs="String">
                <value>LeftShift</value>
            </setting>
            <setting name="Check_EditToConfirmReset" serializeAs="String">
                <value>True</value>
            </setting>
        </FortEZEdit.Properties.Settings>
    </userSettings>
</configuration>